@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/* CONFIGURACAO PARA TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #996516);
    }
    
    #login{
        width: 80vw;
        height: 315PX;
    }

    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }

    form{
        transform: translateX(75px);
    }

    form div.campo{
        max-width: 300px;
    }

    form input[type=submit]{
        max-width: 300px;
    }

    form a.botao{
        max-width: 300px;
    }

}

/* CONFIGURACAO PARA GRANDES TELAS */
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #996516);
    }
    
    #login{
        width: 950px;
        height: 350PX;
    }

    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    
    #formulario{
        float: left;
        width: 50%;
    }

    #formulario p{
        font-size: 1.2em;
    }

    form{
        transform: translateX(75px);
    }

    form div.campo{
        max-width: 300px;
    }

    form input[type=submit]{
        max-width: 300px;
    }

    form a.botao{
        max-width: 300px;
    }    
}